.map {
  display: flex;
  flex-wrap: wrap;
  background: white;

  .cell {
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    user-select: none;

    &.empty {
      border-color: rgb(0 0 0 / 0.04);
    }

    &_icon {
      pointer-events: none;

      &.item {
        position: relative;
        z-index: 3;
      }
    }
  }
}