[data-theme='default'] {
  // Other
  --bg: white;

  --text: black;
  --text-light: #616161;

  // Green
  --light-green: #c0ffb3;
  --light-middle-green: #4bcc00;
  --middle-green: #30b300;
  --thin-green: #cce8c6;

  // Orange
  --light-orange: #fff2b3;
  --light-middle-orange: #cc7a00;
  --middle-orange: #b36500;
  --thin-orange: #e6dfc4;

  // Red
  --light-red: #ffbdbd;
  --red: #ff0000;
  --dirt-red: #7a0000;
  --thin-red: #f1d5d5;

  // Black and White
  --black: #000;
  --gray: #e6e6e6;
  --light-gray: #ececec;
  --middle-gray: #c6c6c6;
}