[data-theme='space-x'] {
  // Other
  --bg: white;
  --bg-anim: black;
  --shadow-color: white;

  --text: white;
  --text-light: #c8c8c8;

  // Green
  --light-green: #2e2e2e;
  --light-middle-green: #191919;
  --middle-green: #c8c8c8;
  --thin-green: #2e2e2e;

  // Orange
  --light-orange: #2e2e2e;
  --light-middle-orange: #191919;
  --middle-orange: #c8c8c8;
  --thin-orange: #2e2e2e;

  // Red
  --light-red: #2e2e2e;
  --red: #f60b0b;
  --thin-red: #191919;
  --dirt-red: #e80202;

  // Black and White
  --black: #000;
  --gray: #191919;
  --light-gray: #2e2e2e;
  --middle-gray: #1b1b1b;
}