.game_constructor {
  display: flex;
  background: #d9e3dc;
  width: 200svw;
  height: 200svh;
  align-items: center;
  justify-content: center;

  .map {
    display: flex;
    flex-wrap: wrap;
    background: white;

    .cell {
      width: 24px;
      height: 24px;
      border: 1px solid transparent;
      user-select: none;

      &.empty {
        border-color: rgb(0 0 0 / 0.04);
      }

      &_icon {
        pointer-events: none;
      }
    }
  }

  .tools {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(0 0 0 / 0.16);
    padding: 12px 32px;
    border-radius: 12px 12px 0 0;

    display: flex;
    gap: 12px;

    .cell_icon {
      border-radius: 8px;

      &.active {
        border: 1px solid white;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}